body {
    background-color: #fff;
}

.gallery-container h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #58595a;
}


.gallery-container p.page-description {
    font-size: 22px;
    color: #85878c;
    font-family: 'Roboto', sans-serif;
}


.tz-gallery {
    padding-right: 0px;
    padding-left: 0px;
}


.tz-gallery img {
    border-radius: 6px;
}

.tz-gallery .caption{
    padding: 15px 5px; /*primer numero padding vertical, segon horitzontal*/
}

.tz-gallery .caption h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.tz-gallery .caption p {
/*default:    font-size: 12px; */
    font-size: 16px;
    font-family: 'Roboto';
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.thumbnail img {
    max-height: 300px;
}

.thumbnail a > img {
    object-fit: cover;
    min-width: 300px;
    height: 50%;
}
.tz-gallery .caption p {
    line-height: 2;
    color:rgb(49, 49, 49);
    padding: 15px;
}

img[src="images/bckgnd.jpg"]{
    filter: blur(8px);
    -webkig-filter: blur(8px);
}

a[href="images/bckgnd.jpg"]{
    pointer-events:none;
    cursor:default;
    text-decoration: none;
    
}


/* for DECEMBER */

a {
    text-emphasis: none;
}

a> span.daynumb {
    color: rgb(207, 169, 0);
    position: absolute;
    top:200px;
    left:50%;
    transform: translate(-50%, -50%);
}

a:hover, a:hover span.daynumb{
    color: rgb(226, 142, 142);
}

@font-face {
    font-family: christmaseve_Numb;
    src: url(/christmasfonts/christmaseve_Numb.ttf);
}@font-face {
    font-family: perfchristmas_Numb;
    src: url(/christmasfonts/Perfect_Christmas_Numb.ttf);
}@font-face {
    font-family: christmastime_Symb;
    src: url(/christmasfonts/ChristmasTime_Sym.ttf);
}

.christmas1{
    font-family: christmaseve_Numb, 'Roboto', sans-serif;
}

#decemberhead{
    background-image: url(/background/DecemberBckgnd.gif);
    background-position: center;
    background-size: cover;
}

#december_title{
    /*Position of the title*/
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;

    padding-bottom: 100px;
    padding-top: 100px;
    background-origin: padding-box;

    /*Title format*/
    font-family: christmastime_Symb, perfchristmas_Numb, christmaseve_Numb, 'Roboto', sans-serif;
    font-size: 90px;

    background-size: 35% 50%;
    background: -webkit-linear-gradient(rgb(244,237,135),rgb(244,237,135) 25%, rgb(245,155,73) 66%,rgb(245,155,73));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}